<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}Миша Юматов</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="container">
		<div id="header"><h1><a href="/">Миша Юматов</a></h1></div>
		<div id="content">{{ content }}</div>
		<div id="footer">2011</div>
	</div>
	<script>
		var _gaq = [['_setAccount', 'UA-9614815-1'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
					s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>
